@import 'libs/bootstrap-reboot.min';
@import 'libs/font';
@import 'base/mixins';
@import 'base/variables';
@import 'base/animations';
@import 'base/sidebar';
@import 'base/banner';
@import 'base/buttons';
@import 'base/market';
@import 'base/catalog';
@import 'base/catalog-category';
@import 'base/about';
@import 'base/delivery';
@import 'base/payment';
@import 'base/work';
@import 'base/error-page';


@import 'base/header';
@import 'base/header-mobile';
@import 'base/header-search';
@import 'base/footer';
@import 'base/item';
@import 'base/related';
@import 'base/cart';


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

/*
font-family: 'Gotham Pro', sans-serif;
font-family: 'Montserrat', sans-serif;

Gotham Pro: 300, 400
Montserrat: 400, 500, 700
Gilroy: 400
Roboto: 400

*/

*, *:before, *:after {
  box-sizing: border-box;
}


* {
  margin: 0;
  padding: 0;
  font-family: 'Gotham Pro', sans-serif;
}

ul, ol {
  margin-bottom: 0;
  padding-bottom: 0;
}

h1, h2, h3, h4, h5, h6, p, label {
  margin-bottom: 0;
  padding-bottom: 0;
}

input, button, textarea {
  outline: none;
}

section, header, footer {
  width: 100%;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  position: relative;

  @include for-desktop {
    max-width: 100%;
  }
  @include for-tablet-landscape-up {
    max-width: 100%;
    padding: 0 45px;
  }
  @include for-tablet-portrait-up {
    max-width: 100%;
    padding: 0 36px;
  }
  @include for-phone-only {
    max-width: 100%;
    padding: 0 16px;
  }
}

button:active, button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}

