.btn{
    &__banner{
        width: 205px;
        height: 50px;
        background: transparent;        
        border: 1px solid #FFFFFF;
        font-family: $montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        margin-top: 20px;
        @include for-phone {
            width: 160px;
        } 
        span.desc{
            display: inline-block;
            @include for-phone {
                display: none;
            } 
        }
        span.phone{
            display: none;
            @include for-phone {
                display: inline-block;
            } 
        }
    }
    &__products{
        
        &_info{
            border: 1px solid #CF8BA1;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 100%;
            color: #CF8BA1;
            background: transparent;
            padding: 15px 18px 14px;
            margin-right: 11px;
            @include for-tablet-portrait {
                padding: 15px 15px 14px;
            }
            @include for-phone {
                padding: 15px 18px 14px;
            }
            &:hover{
                text-decoration: none;
                color: #CF8BA1;
            }

        }
        &_cart{
            background: #CF8BA1;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 100%;
            color: #ffffff;
            padding: 15px 23px 14px;
            @include for-tablet-portrait {
                padding: 15px 20px 14px;
            }
            @include for-phone {
                padding: 15px 23px 14px;
            }
            &:hover{
                text-decoration: none;
                color: #ffffff;
            }
        }

    }
    &__market{
        display: block;
        width: 200px;
        height: 52px;
        background: transparent;
        border: 1px solid #CF8BA1;
        margin: 0 auto;
        margin-top: 70px;

        font-family: $montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 21px;
        color: #CF8BA1;

    }
} 