.cart {

    .container {
        @include for-tablet-landscape {
            padding: 0;
            max-width: 100%;
        }
    }

    &__table {
        width: 100%;   
    }

    &__title {
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 21px;
        color: #000000;
        @include for-tablet-landscape {
            max-width: 100%;
            padding: 0 45px;
        }
        @include for-tablet-portrait {
            max-width: 100%;
            padding: 0 36px;
        }
        @include for-phone-portrait {
            max-width: 100%;
            padding: 0 16px;
        }
    }

    &__subtitle {
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 17px;
        color: #000000;
        &_amount {
            text-align: right;
        }
        @include for-tablet-landscape {
            display: none;
        }
    }

    &__item {
        padding-top: 40px;
        padding-bottom: 40px;
        display: grid;
        grid-template-columns: 568px 1fr;
        border-bottom: 1px solid #EBEBEB;
        @include for-tablet-landscape {
            grid-template-columns: 1fr;
            padding-top: 20px;
            padding-bottom: 30px;
        }
        &:nth-child(1) {
            @include for-tablet-landscape {
                border-bottom: none;
            }
            @include for-phone {
                display: none;
            }
        }
    }

    &__header {
        margin-bottom: 0px;
        padding-bottom: 20px;
    }


    &__body-container {
        display: flex;
        justify-content: flex-end;
        @include for-tablet-landscape {
            display: grid;
            grid-template-columns: 279px 1fr;
        }
    }

    &__body {
        max-width: 405px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        @include for-tablet-landscape {
            display: none;
            grid-template-columns: 1fr;
        }
        &_mobile {
            display: none;
            @include for-tablet-landscape {
                margin-top: 28px;
                display: grid;
            }
        }
    }

    &__descr {
        display: flex;
        @include for-tablet-landscape {
            display: grid;
            grid-template-columns: 279px 1fr;
            max-width: 100%;
            padding: 0 45px;
        }
        @include for-tablet-portrait {
            max-width: 100%;
            padding: 0 36px;
        }
        @include for-phone-portrait {
            grid-template-columns: 158px 1fr;
            max-width: 100%;
            padding: 0 16px;
        }
    }

    &__image {
        position: relative;
        max-width: 205px;
        max-height: 157px;
        width: 100%;
        height: 100%;
        @include for-tablet-landscape {
            max-width: 279px;
            max-height: 214px;
        }
        @include for-phone-portrait {
            max-width: 158px;
            max-height: 122px;
        }
    }

    &__image-scr {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__image-btn {
        position: absolute;
        bottom: 10px;
        right: 10px;
        width: 31px;
        height: 31px;
        background: rgba(255, 255, 255, 0.78);
        border: none;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        @include for-tablet-landscape {
            right: 15px;
            bottom: 15px;
        }
        @include for-phone-portrait {
            right: 7px;
            bottom: 7px;
        }
    }

    &__caption {
        margin-left: 32px;
        @include for-tablet-landscape {
            margin-left: 42px;
        }
        @include for-phone-portrait {
            margin-left: 14px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    &__name {
        margin-top: 18px;
        margin-bottom: 20px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 15px;
        color: #000000;
        @include for-tablet-landscape {
            margin-bottom: 15px;
            margin-top: 10px;
            font-size: 16px;
        }
        @include for-phone-portrait {
            margin-top: 5px;
            font-size: 14px;
            line-height: 13px;
        }
    }

    &__list {
        list-style-type: none;
        @include for-phone {
            display: none;
        }
        &_mobile {
            display: none;
            @include for-phone {
                display: block;
            }
        }
    }

    &__listitem {
        margin-bottom: 17px;
        display: flex;
        justify-content: space-between;
        @include for-tablet-landscape {
            margin-bottom: 12px;
            max-width: 440px;
            width: 100%;
        }
        @include for-phone-portrait {
            margin-top: 13px;
            flex-direction: column;
        }
        &:last-child {
            @include for-phone-portrait {
                margin-bottom: 0;
            }
        }
    }

    &__listitem-key {
        font-family: $montserrat;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #515151;
        max-width: 132px;
        width: 100%;
        @include for-tablet-landscape {
            font-size: 14px;
            line-height: 14px;
        }
        @include for-phone-portrait {
            margin-bottom: 4px;
            font-size: 12px;
            line-height: 14px;
        }
    }

    &__listitem-value {
        font-family: $montserrat;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #515151;
        width: 276px;
        @include for-tablet-landscape {
            font-size: 14px;
            line-height: 14px;
            margin-left: 10px;
        }
        @include for-phone-portrait {
            font-size: 12px;
            line-height: 14px;
            margin-left: 0;
        }
    }

    &__price {
        display: flex;
        flex-direction: column;
        row-gap: 8px;
    }

    &__newprice {
        margin-top: 20px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 17px;
        color: #000000;
        @include for-tablet-landscape {
            margin-top: 0;
        }
        @include for-phone-portrait {
            font-size: 14px;
            line-height: 13px;
        }
    }

    &__oldprice {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 17px;
        text-decoration-line: line-through;
        color: #888888;
        @include for-tablet-landscape {
            margin-top: 8px;
        }
        @include for-phone-portrait {
            margin-top: 0px;
            font-size: 14px;
            line-height: 13px;
        }
    }

    &__quant-container {
        margin-top: 7px;
        display: flex;
        align-items: center;
        @include for-tablet-landscape {
            margin-top: 21px;
        }
        @include for-phone-portrait {
            margin-top: 14px;
        }
    }

    &__quant-minus, &__quant-plus {
        width: 39px;
        height: 39px;
        background: transparent;
        border: none;
        border: 1px solid #E8E8E8;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        @include for-phone-portrait {
            width: 35px;
            height: 35px;
        }
    }

    &__quant-minus {
        margin-right: 12px;
        @include for-phone-portrait {
            margin-right: 8px;
        }
    }

    &__quant-plus {
        margin-left: 12px;
        @include for-phone-portrait {
            margin-left: 8px;
        }
    }

    &__quant-icon {

        &_minus {
            @include for-phone-portrait {
                width: 16px;
                height: 1px;
            }
        }

        &_plus {
            @include for-phone-portrait {
                width: 13px;
                height: 13px;
            }
        }
    }

    &__quant-input {
        font-family: $montserrat;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #171717;
        text-align: center;
        height: fit-content;
        width: 20px;
        border: none;
        background: transparent;
        @include for-phone-portrait {
            font-size: 14px;
            line-height: 17px;
        }
    }

    &__amount {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__amount-num {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 17px;
        color: #000000;
        @include for-tablet-landscape {
            font-size: 20px;
            line-height: 19px;
        }
        @include for-phone-portrait {
            font-size: 16px;
            line-height: 15px;
        }
    }

    &__remove-container {
        &_mobile {
            display: none;
            @include for-tablet-landscape {
                display: block;
            }
        }
        &_tablet {
            display: none;
            @include for-tablet-landscape {
                display: none;
            }
            @include for-phone {
                display: flex;
                justify-content: flex-end;
            }
        }
    }

    &__remove-btn {
        width: fit-content;
        position: relative;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 15px;
        color: #000000;
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #000000;
            opacity: 0.3;
        }
        @include for-tablet-landscape {
            display: block;
            margin-top: 15px;  
        }
        @include for-phone-portrait {
            display: none;
            font-size: 14px;
            line-height: 13px;
        }
        &_mobile {
            display: none;
            @include for-phone-portrait {
                display: block;
            }
        }
        &_card {
            display: none;
            @include for-phone-portrait {
                display: block;
            }
            @include for-phone {
                display: none;
            }
        }
    }
}








.amount {
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
    @include for-tablet-landscape {
        margin-top: 25px;
        max-width: 100%;
        padding: 0 45px;
    }
    @include for-tablet-portrait {
        max-width: 100%;
        padding: 0 36px;
    }
    @include for-phone-portrait {
        max-width: 100%;
        padding: 0 16px;
    }
    @include for-phone-portrait {
        margin-top: 22px;
        justify-content: initial;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        @include for-phone-portrait {
            align-items: initial;
        }
    }

    &__num {
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 21px;
        color: #000000;
        @include for-phone-portrait {
            font-size: 16px;
            line-height: 15px;
        }
    }

    &__btn {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px 24px;
        background: #CF8BA1;
        font-family: $montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 21px;
        color: #FFFFFF;
        &:hover {
            color: #FFFFFF;
            text-decoration: none;
        }
        @include for-tablet-landscape {
            margin-top: 19px;
            font-size: 14px;
            line-height: 17px;
            padding: 16px 27px;
        }
        @include for-phone-portrait {
            margin-top: 15px;
            line-height: 13px;
            padding: 14px 17px;
        }
    }
}
