.delivery{
    width: 891px;
    margin-bottom: 70px;
    @include for-tablet-landscape {
        width: 100%;
        margin-bottom: 50px;
    }
    @include for-tablet-portrait {
        padding: 0 36px;
    }
    @include for-phone {
        padding: 0 16px;
    }
    p{
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: #323232;
        margin-bottom: 23px;
        max-width: 863px;
        @include for-phone {
            font-size: 17px;
            line-height: 140%;
        }
        span{
            font-weight: 700; 
        }
        &:last-child{
            margin-bottom: 0;
        }
    }
}