.footer {
    background: #CF8BA1;
    &__wrapper {
        padding: 38px 0 25px 0;
        display: flex;
        @include for-tablet-landscape {
            justify-content: space-between;
        }
        @include for-phone-portrait {
            padding: 23px 0 30px 0;
            flex-direction: column;
            align-items: center;
        }
        @include for-phone {
            padding: 23px 0 30px 0;
            flex-direction: column;
            align-items: center;
        }
    }

    &__logo-link {
        @include for-tablet-landscape {
            width: 102px;
        }
    }

    &__logo-icon {
        @include for-tablet-landscape {
            width: 100%;
        }
        @include for-phone {
            width: 87px;
        }
    }

    &__nav {
        margin-left: 46px;
        margin-top: 16px;
        max-width: 636px;
        width: 100%;
        @include for-tablet-landscape {
            margin-left: 10px;
            max-width: 435px;
        }
        @include for-tablet-portrait {
            max-width: 335px;
        }
        @include for-phone-portrait {
            margin-left: 0;
            margin-top: 40px;
        }
        @include for-phone {
            margin-left: 0;
            margin-top: 30px;
        }
    }

    &__list {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        @include for-tablet-landscape {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            row-gap: 9px;
        }
        @include for-phone-portrait {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        @include for-phone {
            flex-direction: column;
            align-items: center;
        }
    }

    &__item {
        @include for-phone-portrait {
            margin-bottom: 18px;
        }
        @include for-phone {
            margin-bottom: 17px;
        }
        &_header {
            display: none;
            @include for-phone-portrait {
                display: block;
                font-family: $montserrat;
                font-style: normal;
                font-weight: 500;
                font-size: 22px;
                line-height: 27px;
                color: #FFFFFF;
            }
            @include for-phone {
                display: block;
                font-family: $montserrat;
                font-style: normal;
                font-weight: 500;
                font-size: 17px;
                line-height: 27px;
                color: #FFFFFF;
            }
        }
    }

    &__link {
        font-family: $montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        color: #FFFFFF;
        &:hover {
            color: #FFFFFF;
        }
        @include for-tablet-landscape {
            font-size: 14px;
        }
        @include for-phone-portrait {
            font-size: 18px;
            font-weight: 400;
        }
        @include for-phone {
            font-size: 15px;
            font-weight: 400;
        }
    }

    &__links {
        margin-top: 17px;
        margin-left: 60px;
        max-width: 356px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        @include for-tablet-landscape {
            margin-left: 15px;
            max-width: 290px;   
        }
        @include for-tablet-portrait {
            max-width: 270px;
        }
        @include for-phone-portrait {
            margin-left: 0;
            flex-direction: column;
            align-items: center;
            
        }
        @include for-phone {
            margin-left: 0;
            flex-direction: column;
            align-items: center;
        }
    }

    &__contact {
        @include for-phone-portrait {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        @include for-phone {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__title {
        font-family: $montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        color: #FFFFFF;
        @include for-tablet-landscape {
            font-size: 14px;
        }
        @include for-phone-portrait {
            font-size: 22px;
        }
        @include for-phone {
            font-size: 17px;
            font-weight: 600;
        }
    }

    &__contact-tel {
        display: block;
        margin-top: 11px;
        font-family: $montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        &:hover {
            color: #FFFFFF;
        }
        @include for-tablet-landscape {
            font-size: 14px;   
        }
        @include for-phone-portrait {
            margin-top: 10px;
            font-weight: 400;
            font-size: 18px;
        }
        @include for-phone {
            margin-top: 10px;
            font-weight: 400;
            font-size: 15px;
        }
    }

    &__socials {
        @include for-phone-portrait {
            margin-top: 30px;
        }
        @include for-phone {
            margin-top: 30px;
        }
    }

    &__socials-list {
        margin-top: 11px;
        list-style-type: none;
        display: flex;
        column-gap: 20px;
        @include for-phone-portrait {
            margin-top: 10px;
            justify-content: center;
        }
        @include for-phone {
            margin-top: 10px;
            justify-content: center;
        }
    }

    &__copyright {
        border-top: 1px solid #FFFFFF;
    }

    &__copyright-content {
        padding: 25px 0;
        text-align: center;
    }

    &__copyright-text {
        font-family: $montserrat;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
        @include for-phone-portrait {
            font-size: 16px;
        }
        @include for-phone {
            font-size: 14px;
        }
    }
}
