.header {

    &__wrapper {
      padding: 6px 0 32px 0;
      display: flex;
      align-items: center;
    }
  
    &__logo {
      display: block;
    }
  
    &__logo-icon {
    }
  
    &__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  
    &__info {
      margin-left: 53px;
      max-width: 827px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    &__tel {
      margin-top: 7px;
      font-family: $montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: #1D1D1D;
    }
  
    &__shedule {
      margin-top: 22px;
      max-width: 258px;
      width: 100%;
      font-family: $montserrat;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
      color: #1D1D1D;
  
    }
  
    &__delivery {
      margin-top: 22px;
      max-width: 222px;
      width: 100%;
      font-family: $montserrat;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
      color: #1D1D1D;
    }
  
    &__actions {
      margin-top: 11px;
      display: flex;
      align-items: center;
    }
  
    &__actions-item {
      position: relative;
      cursor: pointer;
      span {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #FFFFFF;
      }
      &_fav {
        .header__actions-counter {
          right: -3px;
        }
      }
  
      &_cart {
        margin-left: 39px;
        margin-right: 9px;
        .header__actions-counter {
          right: -11px;
        }
      }
    }
  
    &__actions-icon {
    }
  
    &__actions-counter {
      position: absolute;
      right: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      width: 18px;
      height: 18px;
      background: #CF8BA1;
    }
  
    &__menu {
      background: #CF8BA1;
    }
  
    &__menu-wrapper {
      display: flex;
      justify-content: space-between;
      padding: 21px 0 16px 0;
    }
  
    &__nav {
      max-width: 847px;
      width: 100%;
      margin-right: 90px;
    }
  
    &__list {
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    &__listitem {
    }
  
    &__link {
      font-family: $montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: #FFFFFF;
  
    }
  
    &__search {
    }
  
    &__search-row {
      position: relative;
      width: 263px;
    }
  
    &__search-input {
      width: 100%;
      font-family: $montserrat;
      padding: 0 26px 5px 2px;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: #FFFFFF;
      background: none;
      border: none;
      border-bottom: 1px solid #FFFFFF;
      &::placeholder {
        color: #FFFFFF;
      }
    }
  
    &__search-icon {
      position: absolute;
      top: 0;
      right: 0;
    }
  }