.header {

    &__wrapper {
      padding: 6px 0 32px 0;
      display: flex;
      align-items: center;
      @include for-tablet-portrait {
        padding: 24px 0;
        justify-content: space-between;
      }
    }

    &__controls {
      display: none;
      @include for-tablet-portrait {
        display: flex;
      }
      @include for-phone-portrait {
        display: flex;
      }
      @include for-phone {
        display: flex;
      }
    }

    &__controls-menu {

    }

    &__controls-search {
      margin-left: 50px;
      @include for-phone {
        margin-left: 23px;
      }
    }

    &__controls-icon {

    }
  
    &__logo {
      display: block;
    }
  
    &__logo-icon {
      @include for-tablet-landscape {
        width: 100%;
      }
      @include for-phone {
        width: 82px;
      }
    }
  
    &__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      @include for-tablet-portrait {
        width: auto;
      }
      @include for-phone-portrait {
        width: auto;
      }
      @include for-phone {
        width: auto;
      }
    }
  
    &__info {
      margin-left: 53px;
      max-width: 827px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      
      @include for-tablet-portrait {
        display: none;
      }
      @include for-phone {
        display: none;
      }
    }
  
    &__tel {
      margin-top: 7px;
      font-family: $montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: #1D1D1D;
      @include for-tablet-landscape {
        font-size: 16px;
      }
    }
  
    &__shedule {
      margin-top: 22px;
      max-width: 258px;
      width: 100%;
      font-family: $montserrat;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
      color: #1D1D1D;
      @include for-tablet-landscape {
        max-width: 226px;
        font-size: 14px;
      }
  
    }
  
    &__delivery {
      margin-top: 22px;
      max-width: 222px;
      width: 100%;
      font-family: $montserrat;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
      color: #1D1D1D;
      @include for-tablet-landscape {
        max-width: 194px;
        font-size: 14px;
      }
  
    }
  
    &__actions {
      margin-top: 11px;
      display: flex;
      align-items: center;
      @include for-tablet-landscape {
        margin-left: 15px;
      }
      @include for-phone-portrait {
        margin-top: 2px;
      }
      @include for-phone {
        margin-top: 2px;
      }
    }
  
    &__actions-item {
      position: relative;
      cursor: pointer;
      span {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #FFFFFF;
        @include for-phone {
          display: block;
          margin-top: 1px;
          font-size: 10px;
          line-height: 12px;
        }
      }
      &_fav {
        .header__actions-counter {
          right: -3px;
        }
      }
  
      &_cart {
        margin-left: 39px;
        margin-right: 9px;
        @include for-tablet-landscape {
          margin-left: 15px;
        }
        @include for-phone-portrait {
          margin-left: 51px;
        }
        @include for-phone {
          margin-left: 21px;
        }
        .header__actions-counter {
          right: -11px;
        }
      }
    }
  
    &__actions-icon {
      &_fav {
        @include for-phone {
          width: 24px;
          height: 20px;
        }
      }
      &_cart {
        @include for-phone {
          width: 17px;
          height: 21px;
        }
      }
    }
  
    &__actions-counter {
      position: absolute;
      right: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      width: 18px;
      height: 18px;
      background: #CF8BA1;
      @include for-phone {
        width: 15px;
        height: 15px;
      }
    }
  
    &__menu {
      background: #CF8BA1;
      @include for-tablet-portrait {
        display: none;
      }
      @include for-phone {
        display: none;
      }
    }
  
    &__menu-wrapper {
      display: flex;
      justify-content: space-between;
      padding: 21px 0 16px 0;
    }
  
    &__nav {
      max-width: 847px;
      width: 100%;
      margin-right: 90px;
    }
  
    &__list {
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    &__listitem {
    }
  
    &__link {
      font-family: $montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: #FFFFFF;
      &:hover {
        color: #FFFFFF;
      }
      @include for-tablet-landscape {
        font-size: 14px;
      }
    }
  
    &__search {
    }
  
    &__search-row {
      position: relative;
      width: 263px;
      @include for-tablet-landscape {
        width: 100%;
      }
    }
  
    &__search-input {
      width: 100%;
      font-family: $montserrat;
      padding: 0 26px 5px 2px;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: #FFFFFF;
      background: none;
      border: none;
      border-bottom: 1px solid #FFFFFF;
      &::placeholder {
        color: #FFFFFF;
      }
      @include for-tablet-landscape {
        font-size: 14px;
      }
    }
  
    &__search-icon {
      position: absolute;
      top: 0;
      right: 0;
    }
  }




