.related {
    margin-top: 100px;
    margin-bottom: 100px;
    @include for-tablet-landscape {
        margin-top: 70px;
        margin-bottom: 70px;
    }
    @include for-phone-portrait {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    &_cart {
        margin-top: 100px;
        @include for-tablet-landscape {
            margin-top: 50px;
        }
        @include for-phone-portrait {
            margin-top: 40px;
        }
    }

    &__content {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        position: relative;
      
        @include for-desk {
          max-width: 100%;
          padding: 0 50px;
        }
        @include for-tablet-landscape {
          max-width: 100%;
          padding: 0 45px;
        }
        @include for-phone-portrait {
          max-width: 100%;
          padding: 0 36px;
        }
        @include for-phone {
          max-width: 100%;
          padding: 0 0 0 16px;
          overflow-x: hidden;
        }
      }


    &__title {
        margin-bottom: 40px;
        @include for-phone-portrait {
            margin-bottom: 30px;
        }
        @include for-phone {
            margin-bottom: 25px;
        }
        .title__content {
            font-family: $montserrat;
            font-style: normal;
            font-weight: 400;
            font-size: 25px;
            line-height: 30px;
            color: #000000;
            text-align: center;
            @include for-phone {
                font-size: 20px;
                line-height: 24px;
            }
        }
    }

    &__container {
        @include for-phone {
            padding-left: 8px;
        }
    }

    &__item {
        max-width: 273px;
        width: 100%;
        @include for-desk {
            max-width: 100%;
        }
        @include for-tablet-landscape {
            max-width: 100%;
        }
        @include for-phone-portrait {
            max-width: 100%;
        }
    }

    &__img {
        position: relative;
        @include for-tablet-landscape {
            width: 100%;
        }
        @include for-phone-portrait {
            width: 100%;
        }
    }

    &__img-src {
        max-height: 213px;
        object-fit: cover;
        @include for-desk {
            width: 100%;
        }
        @include for-tablet-portrait {
            max-height: 163px;
        }
    }

    &__img-btn {
        position: absolute;
        right: 8px;
        bottom: 8px;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        border: none;
        background: rgba(255, 255, 255, 0.78);
        @include for-tablet-portrait {
            width: 31px;
            height: 31px;
        }
    }

    &__img-icon {
        @include for-tablet-portrait {
            width: 17px;
            height: 15px;
        }
    }

    &__name {
        margin-top: 13px;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 15px;
        color: #2F2F2F;
        @include for-tablet-portrait {
            font-size: 14px;
            line-height: 14px;
        }
    }

    &__price {
        margin-top: 17px;
        display: flex;
        align-items: center;
        @include for-tablet-portrait {
            margin-top: 15px;
        }
    }

    &__price-new {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 17px;
        color: #000000;
        @include for-tablet-portrait {
            font-size: 16px;
            line-height: 15px;
        }
    }

    &__price-old {
        margin-left: 11px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 17px;
        text-decoration-line: line-through;
        color: #888888;
        @include for-tablet-portrait {
            font-size: 16px;
            line-height: 15px;
        }
    }

    &__btns {
        margin-top: 21px;
        display: flex;
        column-gap: 11px;
        @include for-tablet-portrait {
            margin-top: 10px;
        }
    }

    &__more {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 18px;
        border: 1px solid #CF8BA1;
        background: transparent;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        color: #CF8BA1;
        &:hover {
            color: #CF8BA1;
            text-decoration: none; 
        }
        @include for-tablet-portrait {
            font-size: 12px;
            line-height: 11px;
            padding: 13px;
        }
    }

    &__cart {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 23px;
        background: #CF8BA1;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        color: #FFFFFF;
        &:hover {
            color: #FFFFFF;
            text-decoration: none; 
        }
        @include for-tablet-portrait {
            font-size: 12px;
            line-height: 11px;
            padding: 13px 17px;
        }
    }

    &__arrow {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.78);
        box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.14);
        border-radius: 100%;
        @include for-tablet-portrait {
            background: transparent;
            box-shadow: none;
            width: 9px;
            height: 17px;
        }
        &_left {
            position: absolute;
            top: 48%;
            left: -69px;
            cursor: pointer;
            @include for-desk {
                left: -1px;
            }
            @include for-tablet-landscape {
                left: -4px;
            }
            @include for-tablet-portrait {
                left: 15px;
            }
            
            @include for-phone {
                display: none;
            }
        }

        &_right {
            position: absolute;
            top: 48%;
            right: -69px;
            cursor: pointer;
            @include for-desk {
                right: -1px;
            }
            @include for-tablet-landscape {
                right: -4px;
            }
            @include for-tablet-portrait {
                right: 15px;
            }
            @include for-phone {
            display: none;
            }
        }
    }
}

.related__wrapper .slick-slide {
    margin: 0 7px;
    
  }
  

.related__wrapper .slick-list {
    margin: 0 -7px;
}


*{
    min-height: 0;
    min-width: 0;
}