.wrapper{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 41px;
    @include for-tablet-landscape {
        max-width: 100%;
        padding: 41px 25px 0;
    } 
    @include for-tablet-portrait {
        justify-content: center;
        padding: 41px 0 0;
    } 
    @include for-phone-portrait {
        padding: 0;
    } 
    main.main{
        @include for-tablet-landscape {
            max-width: 72%;
        }
        @include for-tablet-portrait {
            max-width: 100%;
        }
    }
}
.sidebar{
    padding-bottom: 41px; 
    @include for-tablet-landscape {
        width: 26%;
    } 
    @include for-tablet-portrait {
        display: none;
    }  
    &__categories{
        width: 278px;
        height: auto;
        border: 1px solid #E8E8E8;
        @include for-tablet-landscape {
            width: 100%;
        }
        li{
            list-style: none;
            border-bottom: 1px solid #E8E8E8;
            padding: 17px 16px;
            a{
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 15px;                
                color: #000000;
                &:hover{
                    text-decoration: none;
                } 
            }
        }
        li:last-child{
            border-bottom: none;
        }
    }
}