.work {
    width: 891px;
    margin-bottom: 70px;
    @include for-tablet-landscape {
        max-width: 100%;
    }
    @include for-tablet-portrait {
        padding: 0 25px;
    }
    p{
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: #323232;
        margin-bottom: 23px;
        max-width: 863px;
        span{
            font-weight: 700; 
        }
        &:last-child{
            margin-bottom: 0;
        }
    }
}